@import '../../styles/utils';

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;

  align-self: center;

  &__arrow {
    color: $c-white;
    font-size: large;
    cursor: pointer;

    &:hover {
      color: $main-green;
      transform: scale(1.1);
    }

    &.disabled {
      color: $text-gray;
      cursor: default;
      transform: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 5px;

    &_element {
      border-radius: 50%;
      color: $c-white;
      height: 29px;
      width: 29px;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      &:hover {
        background-color: $main-green;
      }

      &.active {
        background-color: $c-white;
        color: black;
        cursor: default;
      }

      &.dots {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
