.settings {
  min-height: calc(100vh - 150px);
  width: 100%;
  max-width: 1170px;
  padding: 20px;

  box-sizing: border-box;

  &__container {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    position: relative;

    padding: 15px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid black;
    }
  }

  &__bio {
    display: flex;
    margin-top: 20px;
    position: relative;

    &_container {
      margin-top: 10px;
    }

    &_image {
      height: 80px;
      width: 80px;
      border-radius: 10px;
      margin-right: 20px;
    }

    &_name {
      font-size: 36px;
      font-weight: 400;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid black;
    }
  }

  &__inputs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;

    &_container {
      width: 49%;
    }

    &_input {
      box-sizing: border-box;

      width: 100%;
      height: 56px;
      padding: 16.5px 14px;
      background-color: transparent;
      border: 1px solid #363636;
      border-radius: 5px;

      transition-duration: 500ms;

      color: white;
      font-family: inherit;
      font-size: 16px;

      &::placeholder {
        color: lightgray;
      }

      &:hover {
        border-color: black;
      }

      &:focus {
        border-color: #3f9c13;
      }

      &:focus-visible {
        outline: none;
      }

      &:active {
        border-color: #3f9c13;
      }

      &.error {
        border-color: red;

        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
          border-color: red;
        }
      }
    }

    &_label {
      padding: 10px 0;
    }
  }
}
