@import '../../styles/utils';

.all_news_page {
  min-height: $min-page-height-mobile;

  @include onTablet {
    min-height: $min-page-height;
  }

  max-width: $max-page-width;

  width: 100%;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: 30px;
    font-weight: 600;

    @include onTablet {
      font-size: 40px;
      font-weight: 900;

      margin: 20px 0;
    }
  }
}
