@import '../../styles/utils';

.games_page {
  max-width: 1170px;
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 60px;

  min-height: calc(100vh - 150px);

  &__title {
    color: $text-light-gray;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 12px;
  }
}
