@import '../../styles/utils';

.games_page {
  max-width: $max-page-width;
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 60px;

  min-height: $min-page-height-mobile;

  @include onTablet {
    min-height: $min-page-height;
  }

  &__title {
    color: $text-light-gray;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 12px;
  }
}
