@import '../../styles/utils';

.card {
  width: 300px;
  height: 543px;
  border: 1px solid #454545;
  border-radius: $border-radius-big;
  background-color: $card-color;
  cursor: pointer;
  position: relative;

  &__loader {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-big;
    background-color: $loader-background-05;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
  }

  &__icon {
    position: absolute;
    right: 10px;
    bottom: 40%;
    color: $c-red;

    cursor: pointer;

    &.white {
      color: $c-white;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    background-color: $card-hover;
  }

  &_about {
    padding: 32px;
    white-space: pre-line;
    overflow: hidden;
  }

  &_image {
    border-radius: $border-radius-big $border-radius-big 0 0;
    width: 100%;
    height: 335px;
    object-fit: cover;
    object-position: center;
  }

  &_title {
    margin-bottom: 6px;
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
    color: $text-light-gray;
  }

  &_description {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $text-gray;
  }
}
