@import '../../styles/utils';

.activate_page {
  min-height: $min-page-height-mobile;

  @include onTablet {
    min-height: $min-page-height;
  }

  max-width: $max-page-width;

  margin: 0 20px;

  &__title {
    font-size: 42px;
    font-weight: 900;
    margin: 40px 0 10px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__link {
    color: $main-green;
  }
}
