@import '../../styles/utils';

.genres {
  margin-bottom: 36px;

  font-weight: 800;
  font-size: 22px;
  line-height: 36px;
  color: $text-light-gray;

  display: flex;
  flex-direction: column;

  @include onTablet {
    flex-direction: row;
  }

  &__select {
    font-weight: 800;
    font-size: 22px;
    color: $text-light-gray;

    background-color: transparent;

    outline: none;

    margin-left: 0;

    border-radius: $border-radius-small;
    border-color: $main-green;

    padding: 5px;

    @include onTablet {
      margin-left: 20px;
    }
  }
}
