$gray-main: #181818;
$card-color: #1c1c1c;
$card-hover: #242424;
$footer-color: #1d1d1d;
$menu-color: #393939;
$main-green: #3f9c13;
$dark-green: #1c4907;
$search-color: #363636;
$form-background: #464646;
$c-red: red;
$c-white: white;

$text-gray: #afafaf;
$text-light-gray: #eaeaea;

$loader-background-02: rgba(
  $color: black,
  $alpha: 0.2,
);
$loader-background-05: rgba(
  $color: black,
  $alpha: 0.5,
);
$loader-background-07: rgba(
  $color: black,
  $alpha: 0.7,
);

$border-radius-big: 20px;
$border-radius-small: 10px;
