@import '../../styles/utils';

.header {
  box-sizing: border-box;
  background-color: $footer-color;
  color: $c-white;

  height: 75px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    background-color: $main-green;
    padding: 5px 5px;
    height: 30px;
    width: 30px;
    border-radius: $border-radius-small;
    transition-duration: 500ms;

    &:hover {
      cursor: pointer;
      transform: scale(110%);
    }
  }

  &__authorization {
    height: 30px;
    padding: 5px;
    border-radius: $border-radius-small;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition-duration: 500ms;
    cursor: pointer;
  }

  &__actions {
    display: none;

    @include onTablet {
      display: flex;
    }

    align-items: center;

    &_links {
      display: flex;
      gap: 20px;
      height: 45px;
    }

    &_link {
      text-decoration: none;
      color: $c-white;

      font-weight: 600;
      line-height: 45px;

      &.active {
        text-decoration: underline 2px solid;
        text-decoration-color: $main-green;
      }

      &:hover {
        text-decoration: underline 2px solid;
        text-decoration-color: $main-green;
      }
    }
  }
}
