@import '../../styles/utils';

.login_page {
  color: $c-white;
  min-height: $min-page-height-mobile;

  @include onTablet {
    min-height: $min-page-height;
  }
  width: 100%;
  max-width: $max-page-width;

  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
