@import '../../styles/utils';

.carousel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__loader {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    position: relative;
    align-self: flex-start;
    overflow: hidden;

    display: flex;
    align-items: center;

    max-width: 100%;

    margin-bottom: 30px;
  }

  &__button {
    align-self: center;
  }

  &__card_container {
    margin-left: 20px;
    margin-right: 20px;

    border-radius: $border-radius-small;

    overflow: hidden;
  }

  &__slide {
    display: flex;
    gap: 10px;

    transition-duration: 500ms;
  }

  &__left {
    height: 100px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $c-white;

    font-size: large;

    &:hover {
      color: $main-green;
    }

    &.disabled {
      cursor: default;
      color: $text-gray;
    }
  }

  &__right {
    height: 100px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $c-white;

    font-size: large;

    &:hover {
      color: $main-green;
    }

    &.disabled {
      cursor: default;
      color: $text-gray;
    }
  }
}
