@import '../../styles/utils';

.footer {
  box-sizing: border-box;
  background-color: $footer-color;
  height: 50px;

  @include onTablet {
    height: 75px;
  }

  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  font-size: 45px;
  font-weight: 900;
  color: $c-white;
}
