@import '../../styles/utils';

.news {
  max-width: 1024px;
  padding: 20px;
  color: $c-white;

  display: flex;
  flex-direction: column;

  &__p {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 45px;
    font-weight: 800;
    color: $c-white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__image {
    max-width: 90%;
    align-self: center;
    margin-bottom: 20px;
  }

  &__body {
    line-height: 25px;
  }
}

a {
  color: $main-green;
}
