@import '../../styles/utils';

.register__button {
  height: 40px;
  width: 100%;
  border-radius: $border-radius-small;
  border: none;
  background-color: $main-green;
  transition-duration: 500ms;
  color: $c-white;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    transform: scale(102%);
  }
}
