$ig-small-screen: 768px !default;
$ig-xsmall-screen: 480px !default;
$ig-white: #fff !default;
$ig-black: #000 !default;
$ig-blue: #3f9c13 !default;
$ig-background-black: rgba(0, 0, 0, 0.4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;
$ig-shadow: 0 2px 2px lighten($ig-black, 10%);

@import url(../../styles/imageGallery.scss);

.modal {
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: black, $alpha: 0.5);
  top: 0;
  left: 0;
  position: fixed;

  display: flex;
  max-height: 100%;
  overflow-y: auto;
  z-index: 1000;

  justify-content: center;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &__container {
    min-width: 400px;
    max-width: 1100px;
    height: max-content;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin: 40px;

    border-radius: 10px;
    border: 0.5px solid #3f9c13;
  }

  &__gallery {
    max-width: 700px;

    margin: 10px 20px 20px 20px;
  }

  &__close {
    position: absolute;
    right: -40px;
    top: -40px;
    margin: 10px;
    z-index: 1000;
  }

  &__image {
    width: 50%;
    max-height: 400px;
    margin: 20px 0 0 20px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center top;
    flex: 6;

    @media (max-width: 900px) {
      width: 80%;
    }
  }

  &__showcase {
    display: flex;
    min-height: 400px;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
