@import '../../styles/utils';

.home_page {
  max-width: 1170px;
  width: 100%;
  color: $c-white;

  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;

  &__carousel {
    position: relative;

    background-color: $loader-background-02;
    padding: 20px;
    min-height: 660px;
    border-radius: $border-radius-small;
    margin-bottom: 30px;
  }

  &__gallery {
    margin-bottom: 80px;
  }

  &__news {
    min-height: 480px;
    margin-bottom: 60px;
    background-color: $loader-background-02;
    padding: 20px;
    border-radius: $border-radius-small;
  }

  &__subtitle {
    color: $c-white;
    font-style: inherit;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
