.home_page {
  max-width: 1170px;
  color: white;

  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;

  &__carousel {
    position: relative;

    background-color: rgba($color: black, $alpha: 0.2);
    padding: 20px;
    min-height: 660px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  &__gallery {
    margin-bottom: 80px;
  }

  &__news {
    height: 480px;
    margin-bottom: 60px;
    background-color: rgba($color: black, $alpha: 0.2);
    padding: 20px;
    border-radius: 10px;
  }

  &__subtitle {
    color: white;
    font-style: inherit;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
